
<footer class="footer">
    <div class="footer-content">
        <div class="logo logo-footer">
            <div class="logo-icon">
                
            </div>
            <h3>Math</h3>
        </div>

        <div class="footer-links">
            <a href="#">Cursos</a>
            <a href="#">Sobre Nosotros</a>
            <a href="#">Contacto</a>
            <a href="#">Términos de Servicio</a>
            <a href="#">Política de Privacidad</a>
        </div>
    </div>

    <p class="copyright">
        © 2024 Math. Todos los derechos reservados.
    </p>
</footer>
