<header class="header">
    <div class="logo">
        <div class="logo-icon">
            <img src="{{ url_for('static', filename='img/DGET.png') }}" alt="imagen de logo" />
        </div>
        <div class="logo-separator"></div>
         <div class="logo-icon">
            <img src="{{ url_for('static', filename='img/glo.png') }}" alt="imagen de logo" />
        </div>
        <h2>
           
        </h2>
    </div>
    <div class="nav-actions">
        <a href="/session" class="btn btn-secondary">Inicia Sesion</a>
        <a href="/register" class="btn btn-primary">Regístrate</a>
    </div>

</header>